<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="extension" value=".git"/>
    <add key="repositoryFolder" value="D:\ISEL\Semestre6\PS\Testings\Repositories"/>
    <add key="authorizationFile" value="D:\ISEL\Semestre6\PS\Testings\autho_file.xml"/>
  </appSettings>
</configuration>