@using CodeGarten.Data.Model
@model Container
@{
    var fullPath = new LinkedList<Container>();
    var auxModel = Model;

    while ((auxModel = auxModel.Parent) != null)
    {
        fullPath.AddFirst(auxModel);
    }
}
<div id="structure_path">
    @Html.ActionLink(Model.Prototype.Structure.Name, "Index", "Structure", new { id = Model.Prototype.StructureId }, null)
    /
    @foreach (var container in fullPath)
    {
        @Html.ActionLink(container.Name, "Index", "Container", new { id = container.Id }, new { @class = "slide" })<text> /</text>
    }
    <span class="name">@Model.Name</span>
</div>
