@using CodeGarten.Data.Access
@using CodeGarten.Data.Model
@model Container
@{
    var dbMan = (DataBaseManager)Context.Items["DataBaseManager"];

    var users = dbMan.User.GetAll().Where(u => u.Enrolls.Any(e => e.ContainerId == Model.Id));
}
<div class="ui-widget" id="users_widget">
    <div class="ui-widget-header ui-state-default">
        <h3>
            Enrolled users</h3>
    </div>
    <div id="enrolled_users" class="ui-widget-content child">
        @foreach (var user in users)
        {
            @Html.ActionLink(user.Name, "Index", "User", new { name = user.Name }, new { @class = "child_item ui-corner-all ui-widget-header ui-state-default" })
        }
    </div>
</div>
<script type="text/javascript">
    var Users = function () {
        if ($("#users_widget .child_item").length != 0)
            $("#users_widget").slideToggle();
    };

    $("#users_widget").hide();
</script>
