@using CodeGarten.Data.Access
@using CodeGarten.Data.Model
@model Container
@{
    var dbMan = Context.Items["DataBaseManager"] as DataBaseManager;
    var userEnroll = dbMan.User.Get(User.Identity.Name).Enrolls.SingleOrDefault(e => e.ContainerId == Model.Id && !e.Inherited);
    var inheritedEnrolls = dbMan.User.Get(User.Identity.Name).Enrolls.Where(e => e.ContainerId == Model.Id && e.Inherited);
}
<div class="ui-widget" id="workspaces_widget">
    <div class="ui-widget-header">
        <h3>
            Workspaces</h3>
    </div>
    <div class="ui-widget-content">
        <div class="accordion">
            @foreach (var binding in Model.Prototype.Bindings)
            {
                <h3>
                    <a href="#">@binding.WorkSpaceTypeName</a></h3>
                <div>
                    @foreach (var service in binding.WorkSpaceType.Services)
                    {
                        @Html.ActionLink(service.Name, "Index", "WorkSpace", new { structureId = Model.Prototype.StructureId, containerId = Model.Id, workSpaceTypeName = binding.WorkSpaceTypeName, serviceName = service.Name }, new { @class = "button" });
                    }
                </div>   
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".tabs").tabs();
    $(".accordion").accordion({ collapsible: true });
</script>
