@{
    ViewBag.Title = "Help (Instruments Panel)";
}
<div class="title">
    <img src="@Url.Content("~/Content/themes/smoothness/images/Help.png")" alt="Structures" />
    <h2>
        Help - Instruments Panel</h2>
    <div class="clear">
    </div>
</div>
<div class="help_body">
<p>After you authenticated, the CodeGarten main screen will sow you the panel of instruments containing five options (<strong>illustration 6</strong>)</p>
<img src="@Url.Content("~/Content/themes/help/InstrumentsPanel.png")" alt="Structures" />
<p><strong>Illustration 6: Instruments Panel</strong></p>
<ul>
    <li><strong>Search</strong> - Allows you to search for projects, structures and users</li>
    <li><strong>My Structures</strong> - Manage your structures</li>
    <li><strong>Enrolls</strong> - Keep track of the projects you have enrolled</li>
    <li><strong>Profile</strong> - Manage your personal information</li>
    <li><strong>Help</strong> - Get help on how to use CodeGarten</li>
</ul>
    <h2 id="logout">
        Logout</h2>
    <p>
        You can logout by clicking the <strong>Logout</strong> button in the upper right
        corner (<strong>illustration 7</strong>)
    </p>
    <img src="@Url.Content("~/Content/themes/help/LogoutButton.png")" alt="Structures" />
    <p>
        <strong>Illustration 7: Logout button</strong>
    </p>
</div>
