@{
    ViewBag.Title = "Help (User Profile)";
}
<div class="title">
    <img src="@Url.Content("~/Content/themes/smoothness/images/Help.png")" alt="Structures" />
    <h2>
        Help - User Profile</h2>
    <div class="clear">
    </div>
</div>
<div class="help_body">
<p>You can access you profile via the button with your name in the upper right corner or the <strong>Profile</strong> button in the Instruments Panel (<strong>illustration 8</strong>).</p>
<img src="@Url.Content("~/Content/themes/help/Profilebutton.png")" alt="Structures" />
<p><strong>Illustration 8: Profile buttons</strong></p>
<p>This profile page allows you to edit your personal information (email) as well as your password (<strong>illustration 9</strong>).</p>
<img src="@Url.Content("~/Content/themes/help/UserProfile.png")" alt="Structures" />
<p><strong>Illustration 9: User profile</strong></p>
    <h2 id="leave">
        Leave CodeGarten</h2>
    <p>
        The <strong>Leave CodeGarten</strong> button will allow you to delete your account.
    </p>
    <h4>
        Observations</h4>
    <p>
        An analysis is made to decide if it's safe for you to leave CodeGarten based on
        the structures and enrolls you have. This information is presented to you for your
        final consideration.</p>
    <img src="@Url.Content("~/Content/themes/help/LeaveCodeGarten.png")" alt="Structures" />
    <p>
        <strong>Illustration 10: Analysis when leaving CodeGarten</strong></p>
</div>
