<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Context" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=CodeGartenDb; Integrated Security=SSPI; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataLoggerPath" value="C:\CodeGarten\DataLogger.log" />
  </appSettings>
</configuration>