<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="tracConfig" type="Trac.Core.TracConfiguration, Trac" />
    </configSections>

    <tracConfig tracAdmin="C:\Python26\Scripts\trac-admin.exe">
      <plugins>
        <add service="Svn" cfgFile="xpto\asdasd\" />
      </plugins>
    </tracConfig>
</configuration>