@model CodeGarten.Data.Model.ContainerType

<div class='container' >
	<div class='container_header ui-widget-header ui-state-default ui-corner-all'>
        <h2 onclick='PrototypeDesign("@Model.Name")'> @Model.Name </h2>
	</div>
	<div class='container_childs'>
        @foreach (var childPrototype in Model.Childs)
        { 
            @Html.Partial("_Prototype", childPrototype)
        }
	</div>
</div>