@using CodeGarten.Data.Model
@model Structure
@{
    ViewBag.Title = Model.Name;
}
<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<div id="structure_tabs" class="tabs">
    <ul>
        <li><a href="#all">Instances</a></li>
        <li><a href="#design">Design</a></li>
    </ul>
    <div id="all">
        @foreach (var container in ViewBag.Instances as IEnumerable<Container>)
        {
            @Html.Partial("_ContainerItem", container)
        }
        <div class="actions">
            @Html.ActionLink("Create new", "Create", "Container", new { structureId = Model.Id, prototypeName = ViewBag.TopInstanceName as string }, new{@class = "create_button"})
        </div>
    </div>
    <div id="design">
        <p>
            Not yet implemented.</p>
    </div>
</div>
<script type="text/javascript">
    $(".tabs").tabs();
    $(".actions").children().button();
    $(".actions .create_button").button({ icons: { primary: "ui-icon-plus"} });
</script>
