@{
    ViewBag.Title = "Find structures";
}

<fieldset>
    <h2>
        Find structures</h2>
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "results" }))
    {
        @Html.TextBox("name")
        <input type="submit" value="Search" />
    }
    <div id="results">
    </div>
</fieldset>
