@model CodeGarten.Data.Model.Rule
<h3>
    Are you sure you want to delete this?</h3>
<h2>
    Delete rule</h2>
<div class="display-label">
    Name</div>
<div class="display-field">@Model.Name</div>
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "DialogHelper.OnSuccess", Url = "/Rule/Delete?structureId=" + Request["structureId"] + "&name=" + Model.Name }))
{ }
