@model CodeGarten.Data.ModelView.RoleView
@{
    ViewBag.Title = "Delete Role";
}
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <h2>
        Delete</h2>
    <div class="display-label">
        Container</div>
    <div class="display-field">@Model.ContainerPrototypeName</div>
    <div class="display-label">
        WorkSpace</div>
    <div class="display-field">@Model.WorkSpaceTypeName</div>
    <div class="display-label">
        RoleType</div>
    <div class="display-field">@Model.RoleTypeName</div>
    <div class="display-label">
        Rule</div>
    <div class="display-field">@Model.Rule.Name</div>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
        </p>
    }
</fieldset>
