@model CodeGarten.Data.Model.ContainerPrototype
<ul>
    <li class="container">
        <p>@Model.Name
            (
                @foreach (var workspace in Model.WorkSpaceTypes)
                {
                    @workspace.Name <text> </text>
                }
            )
        </p>
        @foreach (var child in Model.Childs)
        {
            @Html.Partial("_DesignTree", child)
        }
    </li>
</ul>
