@model IEnumerable<CodeGarten.Data.Model.Enroll>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Role
        </th>
    </tr>
    @foreach (var enroll in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@enroll.Container.Name as string, "Index", "Container", new { id = enroll.ContainerId, structureId = enroll.Container.ContainerPrototype.StructureId }, null)
            </td>
            <td>
                @enroll.Container.Description
            </td>
            <td>
                @enroll.RoleTypeName
            </td>
        </tr>
    }
</table>
