@model CodeGarten.Web.Model.RoleTypeView
@using (Ajax.BeginRouteForm("Default", new
{
    controller = "RoleType",
    action = "Create",
    structureId = Request.RequestContext.RouteData.Values["id"]
}, new AjaxOptions { OnSuccess = "RoleTypeView.create.OnSuccessCallBack" }))
{
    @Html.ValidationSummary(true)
    <h2>
        Create role type</h2>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}