@model IEnumerable<CodeGarten.Data.Model.Role>
<table>
    <tr>
        <th>
        </th>
        <th>
            Role
        </th>
        <th>
            Rule
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete", "Delete", "Role", new { structureId = item.RoleTypeStructureId, containerProto = item.ContainerPrototypeName, workSpaceType = item.WorkSpaceTypeName, roleType = item.RoleTypeName }, null)
            </td>
            <td>
                @item.RoleTypeName
            </td>
            <td>
                @item.Rule.Name
            </td>
        </tr>
    }
</table>
