@model IEnumerable<CodeGarten.Data.Model.Rule>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Permissions
        </th>
    </tr>
    @foreach (var rule in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@rule.Name as string, "Index", "Rule", new { structureId = rule.StructureId, name = rule.Name }, null)
            </td>
            <td>
                @rule.Permissions.Count
            </td>
        </tr>
    }
</table>
