@model IEnumerable<CodeGarten.Data.Model.Structure>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Created on
        </th>
    </tr>
    @foreach (var structure in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@structure.Name as string, "Index", "Structure", new { id = structure.Id }, null)
            </td>
            <td>
                @structure.Description
            </td>
            <td>
                @structure.CreatedOn
            </td>
        </tr>
    }
</table>
