@model IEnumerable<CodeGarten.Data.Model.WorkSpaceType>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Services
        </th>
    </tr>
    @foreach (var ws in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@ws.Name as string, "Index", "WorkSpaceType", new { structureId = ws.StructureId, name = ws.Name }, null)
            </td>
            <td>
                @ws.Services.Count
            </td>
        </tr>
    }
</table>
