#main, #foot, #top
{
    margin: 0 auto;
    width: 920px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline;}

body{ font: 62.5% "Trebuchet MS", sans-serif;line-height: 1.4; word-wrap: break-word;}
		
h1 { padding: .2em; margin: 0;}

.ui-button {display:inline-block; vertical-align:middle;}
.ui-icon {display:inline-block; vertical-align:middle;}

.ui-icon-trash, .ui-icon-plus { float:right; }

/*.ui-state-highlight { text-align:center;}*/
.placeholder { text-align: center;}

#error { width: 74%;float: left; }

#containerPrototypeDesign { width: 74%;float: left;}
#containerPrototypeDesign .Workspace {margin: 2em;display:inline-block;}
#containerPrototypeDesign .RoleType {margin: 2em;display:inline-block;}
#containerPrototypeDesign .Rule {margin: 1em; font-size:medium;}
#containerPrototypeDesign .Rule > .item_options {margin-left:1em;}
#containerPrototypeDesign .RoleType .ui-icon-arrowthickstop-1-s { float: left;}
#containerPrototypeDesign .RoleType .ui-icon-arrowthickstop-1-n { float: left;}

/*.Workspace > .ui-widget-header, .Workspace_link { background-image: url(http://jqueryui.com/themeroller/images/?new=cccccc&w=40&h=40&f=png&q=100&fltr[]=over|textures/08_diagonals_thick.png|0|0|75);}
.RoleType > .ui-widget-header, .RoleType_link { background-image:url(http://jqueryui.com/themeroller/images/?new=cccccc&w=40&h=40&f=png&q=100&fltr[]=over|textures/07_diagonals_medium.png|0|0|75);}*/

#containerPrototypeDesign .ui-widget-header .ui-icon { margin-top: 5px; }

#components {width: 25%;float: right;}
#components .components_item {margin-bottom:1em; cursor:pointer; font-size:medium;}
#components .item_options {margin-left:1em;}
#components .page_add {width:100%;}

.ui-accordion .ui-accordion-content{ overflow:hidden !important; }

#foot 
{
    border-top: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    text-align: center;
    line-height:normal;
    background-color: #F1F1F1;
    width: inherit;
    margin-top: 20px;
}

#foot > p
{
    margin: 0 auto;
    width: 920px;
}

#top 
{
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
    width: inherit;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    background-image: url('smoothness/images/TopImage.png');
    background-repeat: repeat-x;
}


#top .logo > img
{
   margin-top:15px;
}

#top > div
{
    margin: 0 auto;
    width: 920px;
}

#actions { margin-bottom: 10px;border-top: 1px solid #CCCCCC;}

#actions > button { margin-top: 5px;}

#working
{
      float: right;
      font-size: 10px;
      margin-right: 10px;
      display:none;
}


/* Styles Structure Container Prototype
-----------------------------------------------------------*/
/*.container_childs .container {display: -moz-inline-stack; display: inline-block;min-width: 184px;max-width: 184px;}*/
.container_childs .container { float: left;min-width: 184px;}
			
.container_header
{
	text-align: center;
	min-height: 25px;
	margin: 1px 1px 1px 1px;
    padding-top: 4px;
}
			
.container_header h2 { display:inline; cursor: pointer; }
			
.container_header .ui-icon-trash { margin-top:2px; float: left;}
			
.container_header .ui-icon-plusthick { margin-top:2px; float:left;}
			
.container_header .toggle { margin-top:2px; float: right; }
			
.container_header > a { cursor: pointer;}

/* structure create form
-----------------------------------------------------------*/
#structure_create_form { text-align: center;}
#structure_create_form input[type=text] { text-align: center;font-size: 150%;width: 400px;}

/* container create form
-----------------------------------------------------------*/
#container_create_form { text-align: center;}
#container_create_form input[type=text] { text-align: center;font-size: 150%;width: 400px;}

/* Login form
-----------------------------------------------------------*/
#login_form input[type=text], #login_form input[type=password] { text-align: center;font-size: 150%;}
#login_form { text-align: center;}

/* Signup form
-----------------------------------------------------------*/
#signup_form input { text-align: center;font-size: 125%;}
#signup_form { text-align: center;}

/* Delete container form
-----------------------------------------------------------*/
#delete_container_form { text-align: center;}
#delete_container_form .diagnose{ font-size: 150%;padding-top: 10px;}
#delete_container_form .ui-icon { margin-bottom: 2px;}

/* Search form
-----------------------------------------------------------*/
.search_title .name { display: inline-block;vertical-align: top;}
.search_title h3 { margin-top: -5px;}
#search_form { display: inline-block;padding-left: 5px; }
#search_form img[alt=Loading] { width: 20px;height: 20px;position:relative;z-index: 1;left: 665px;top: -54px;}
#search_form .query input[type=Submit] { left: -6px;height: 30px;top: -4px;}
#search_form .query input[type=search] { font-size:large;width: 710px;}

/* top user actions
-----------------------------------------------------------*/
#user_actions { float: right;padding: 10px;}

/* auth user actions
-----------------------------------------------------------*/
#auth_user_actions { text-align: center;}
.action { display: inline-block;margin: 10px;text-align: center;font-size: large;padding-left: 20px;padding-right: 20px; }
.action > img { width: 115px;height: 115px;}
.action:hover { cursor: pointer;}

/* titles
-----------------------------------------------------------*/
.title { padding-bottom: 20px;}
.title img { width: 60px;height: 60px;float: left;}
.title h2 {display: inline-block; font-size: large;margin-left: 5px;}
.title a { left: 60px;margin-left: 5px;top: -20px;}

/* item
-----------------------------------------------------------*/
.item { border-bottom:1px solid #CCCCCC; border-top:1px solid #CCCCCC;}
.item:hover { background-color:#e8e8e8;}
.item .info, .item .name { padding-left: 5px;}
.item .actions { padding-left: 5px;padding-top: 3px; float: right;}

/* container
-----------------------------------------------------------*/
#container .left_panel {float: left;width: 600px;}
#container .left_panel > .info{ font-size: small;line-height: 240%;text-align: center;}
#container .left_panel > .info label{ font-weight: bold;}
#container .left_panel > .info .counter { font-size: large;}

/* child_tabs
-----------------------------------------------------------*/
#child_widget { margin-top: 10px;}
#child_widget  > .ui-widget-content { padding: 10px;}
#child_tabs .create_button { margin-top: 5px;display: block;}
.child .child_item {
     margin: 10px; 
     display: inline-block; 
     width: 125px;
     height: 75px;
     text-align: center;
     border: 1px solid #CCCCCC;
     vertical-align: top;
     text-overflow: ellipsis;
     overflow: hidden;
    font-size: medium;
}

#child_tabs .child .child_item:hover { background-color:#e8e8e8;}
#child_tabs .type { border-bottom: 1px solid #CCCCCC;padding-bottom: 10px; }

#workspaces_widget { margin-top: 10px;}
#workspaces_widget  > .ui-widget-content { padding: 10px;}
#workspaces_widget .ui-accordion-content { padding-bottom: 35px;} 

/* structure_tabs
-----------------------------------------------------------*/
#structure_tabs .create_button { margin-top: 5px;}

#users_widget { margin-top: 5px;}
#users_widget  > .ui-widget-content { padding: 10px;}

/* actions_widget
-----------------------------------------------------------*/
#container .right_panel { width: 300px;float: right;}
#actions_widget > .ui-widget-content { padding: 10px;text-align: right;}
#actions_widget > .ui-widget-content a { margin-bottom: 5px;width: 100%;text-align: right; }

/* anonymous home
-----------------------------------------------------------*/
#anonymous_home .top { padding-bottom: 10px;}
#anonymous_home .top h1 { font-size: 6em;text-align: center;font-weight: bold;}
#anonymous_home .top .caracteristics div { font-size: 3em;text-align: center;font-weight: bold;}
#anonymous_home .top .count { font-size: larger;}

/* experimental
-----------------------------------------------------------*/
::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

#management .administrators {border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC;margin-top: -10px;}
#management .actions{ padding-top: 5px;}
#management .create_button { margin-bottom: 10px;}

#container_div { min-height: 400px;}

.multi-line { width: 400px;}
.clear { clear: both;padding-bottom: 5px;}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.ui-widget-header { text-align: center;}

/* Styles for Profile
----------------------------------------------------------*/

.edit
{
    min-height: 25px;
    padding: 5px;
    border-bottom: 1px solid;    
}

.edit>h3
{
    float: left;
    position: absolute;
}

.edit .info>p
{
    margin-left: 100px;
    float: left;
    font-size: 120%;
    padding: -5px;
}

.edit .form
{
    margin-left: 100px;
    font-size: 120%;
    padding: -5px;
}

.edit .info>button
{
    float: right;
}


/* Styles for tables
----------------------------------------------------------*/
table  
{
    margin: 1em 0; 
    border-collapse: collapse; 
}

table td, table th  
{
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}

/* Styles for Enrolls
----------------------------------------------------------*/

#structureAccordion table  
{
    width: 50%; 
}

/* Styles for WorkSpace Services
----------------------------------------------------------*/

#main_service > .iframe > iframe
{
      min-width: 100%;
      border-style: none;
}

#main_service > #main > h1
{
    display: inline;    
}

#main_service .services
{
    float: right;
}

/* Styles for View Design
----------------------------------------------------------*/
#container_structure_design .workspaces
{
    margin: 5px;
    float: right;  
}

#container_structure_design .ui-widget-content
{
    min-height: 100px;    
}

#container_structure_design table
{
    margin-left: 20px;
    min-width: 300px;
}

#container_structure_design table td
{
    text-align: center;    
}

#container_structure_design h3
{
    margin-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#container_structure_design>.ui-state-highlight>p
{
    margin-left: 20px;
}