#main, #foot, #top
{
    margin: 0 auto;
    width: 920px;
}

body{ font: 62.5% "Trebuchet MS", sans-serif;}
		
h1 { padding: .2em; margin: 0;}

.ui-button {display:inline-block; vertical-align:middle;}
.ui-icon {display:inline-block; vertical-align:middle;}

.ui-icon-trash, .ui-icon-plus { float:right; }

.ui-state-highlight { text-align:center;}

#error { width: 74%;float: left; }

#containerPrototypeDesign { width: 74%;float: left;}
#containerPrototypeDesign .Workspace {margin: 2em; display:inline-block;}
#containerPrototypeDesign .RoleType {margin: 2em; display:inline-block;}
#containerPrototypeDesign .Rule {margin: 1em; font-size:medium;}
#containerPrototypeDesign .Rule > .item_options {margin-left:1em;}

#components {width: 25%;float: right;}
#components .item {margin-bottom:1em; cursor:pointer; font-size:medium;}
#components .item_options {margin-left:1em;}
#components .page_add {width:100%;}

.Workspace > .ui-widget-header {background-image:url('ui-bg_gloss-wave_35_f6a828_500x100.png');}

.Workspace_link 
{
    background-color:#f6a828;
}

.ui-accordion .ui-accordion-content{ overflow:hidden !important; }

#actions { clear: both;}

#foot 
{
    border-top: 1px solid #CCCCCC;
    padding: 10px;
    text-align: center;
    line-height:normal;
    font-size: .9em;
    background-color: #F1F1F1;
    margin-top: 20px;
    width: 100%;
    clear: both;
}

#foot > p
{
    margin: 0 auto;
    width: 920px;
}

#top 
{
    border-bottom: 1px solid #CCCCCC;
    height: 90px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
}


/* Styles Structure Container Prototype
-----------------------------------------------------------*/
#container_structure{ width: inherit;}
			
.container_childs > .container { min-width: 200px;display:table-cell; }

.container
{
    width: inherit;
}
			
.container_header
{
	text-align: center;
	min-width: 100px;
	min-height: 25px;
	margin: 1px 1px 1px 1px;
    padding-top: 4px;
}
			
.container_header h2 { display:inline; cursor: pointer; }
			
.container_header .ui-icon-trash { margin-top:2px; float: left;}
			
.container_header .ui-icon-plusthick { margin-top:2px; float:left;}
			
.container_header .toggle { margin-top:2px; float: right; }
			
.container_header > a { cursor: pointer;}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}